body {
    background-color: #864818;
}

.image-container {
  position: absolute;
  width: 100vw;
  height: 100vh; 
}

.gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 450px;
    margin-left: 60%;
    margin-top: 10%;
}

.bottom-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.windowclick {
    position: absolute;
    top: 0;
    left: 0;
    width: 165px;
    height: 195px;
    margin-left: 59.5%;
    margin-top: 23.75%;
}

.top-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 660px;
  margin-left: 75%;
  margin-right: 16%;
  margin-top: 10%;
}

.windowclick {
    z-index: 2;
}

.top-image {
  z-index: 2; 
}

.bottom-image {
  z-index: 1;
}

.gif {
    z-index: 0;
}

.color-change{
    filter: opacity(100%);
    transition: filter 0.3s ease;
}

.color-change:hover{
    filter: opacity(0%);
}

html {
  cursor: url(img/handsopencursor.png), auto;
}

a {
  cursor: url(img/handsclosedcursor.png), auto;
}