body {
    background-color: #864818;
}

.gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 450px;
    margin-left: 1000px;
    margin-top: 175px;
}

.bottom-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 1600px;
  height: 750px;
  margin-left: 50px;
  margin-top: 50px;
}

.windowclick {
    position: fixed;
    top: 0;
    left: 0;
    width: 155px;
    height: 160px;
    margin-left: 1000px;
    margin-top: 390px;
}

.top-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 540px;
  margin-left: 1245px;
  margin-top: 200px;
}

#jeasper {
  position: absolute;
  width: 200px;
  height: 150px;
  margin-top: 640px;
  margin-left: 100px;
  z-index: 8;
}

#selim {
  position: absolute;
  width: 320px;
  height: 230px;
  margin-top: 10px;
  margin-left: 450px;
  z-index: 3;
}

#violet {
  position: absolute;
  width: 200px;
  height: 300px;
  margin-top: 465px;
  margin-left: 150px;
  z-index: 7;
}

#tristan {
  position: absolute;
  width: 200px;
  height: 300px;
  margin-top: 200px;
  z-index: 6;
}

#shelf {
  position: absolute;
  width: 490px;
  height: 300px;
  margin-top: 480px;
  margin-left: 200px;
  z-index: 8;
}

.windowclick {
    z-index: 2;
}

.top-image {
  z-index: 2; 
}

.bottom-image {
  z-index: 1;
}

.gif {
    z-index: 0;
}

.color-change{
    filter: opacity(100%);
    transition: filter 0.3s ease;
}

.color-change:hover{
    filter: opacity(0%);
}
 
.bella {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 600px;
  margin-top: 180px;
}

.bella {
  z-index: 100;
}

.hover_image:hover {text-decoration: none}
.hide {display:none}
.hover_image:hover img:first-child{display:none}
.hover_image:hover img:last-child{display:inline-block}

.grab {
  cursor: url(img/handsclosedcursor.png), auto;
}

html {
  cursor: url(img/handsopencursor.png), auto;
}

a {
  cursor: url(img/handsclosedcursor.png), auto;
}