body {
    background-color: #864818;
}

.gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 450px;
    margin-left: 1000px;
    margin-top: 175px;
}

.bottom-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 1600px;
  height: 750px;
  margin-left: 50px;
  margin-top: 50px;
}

.windowclick {
    position: fixed;
    top: 0;
    left: 0;
    width: 155px;
    height: 160px;
    margin-left: 1000px;
    margin-top: 390px;
}

.top-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 540px;
  margin-left: 1245px;
  margin-top: 200px;
}

.windowclick {
    z-index: 2;
}

.top-image {
  z-index: 2; 
}

.bottom-image {
  z-index: 1;
}

.gif {
    z-index: 0;
}

.color-change{
    filter: opacity(100%);
    transition: filter 0.3s ease;
}

.color-change:hover{
    filter: opacity(0%);
}
 
.bella {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 600px;
  margin-top: 180px;
}

.bella {
  z-index: 100;
}

.preview-container {
            width: 600px; /* Adjust width as needed */
            height: 400px; /* Adjust height as needed for the window size */
            top: 170px;
            left: 75px;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none; /* Removes the default iframe border */
        }

.front {
  position: absolute;
  z-index: 50;
}

.overlay-link {
    position: absolute; /* Positions the link relative to the parent container */
    top: 0;
    left: 0;
    width: 100%;        /* Make the link cover the entire iframe area */
    height: 100%;
    z-index: 51;         /* Ensure the link is above the iframe */
    background-color: transparent; /* Keep the link invisible */
    /* You can also use a slight opacity for testing: opacity: 0.1; */
}

.key {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 25px;
  left: 50px;
  z-index: 49;

}

.stairs {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-top: 650px;
  margin-left: 1050px;
  z-index: 49;
}

.key, .stairs {
  transition: mix-blend-mode 0.3s normal;
}

.key:hover, .stairs:hover {
  mix-blend-mode: color-burn;
}

.preview-container {
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition */
}

.preview-container:hover {
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7); /* White glow */
}

.hover_image:hover {text-decoration: none}
.hide {display:none}
.hover_image:hover img:first-child{display:none}
.hover_image:hover img:last-child{display:inline-block}


html {
  cursor: url("img/magnifyingglasscursor1.png"), auto;
}

a {
  cursor: url("img/magnifyingglasscursor2.png"), auto;
}