body {
  background-image: url(img/background.png);
}

#jeasper {
  position: absolute;
  width: 200px;
  height: 150px;
  margin-top: 40px;
  margin-left: 100px;
  z-index: 8;
}

#selim {
  position: absolute;
  width: 320px;
  height: 230px;
  margin-top: 10px;
  margin-left: 750px;
  z-index: 3;
}

#violet {
  position: absolute;
  width: 200px;
  height: 300px;
  margin-top: 465px;
  margin-left: 150px;
  z-index: 7;
}

#tristan {
  position: absolute;
  width: 200px;
  height: 300px;
  margin-top: 100px;
  z-index: 6;
}

#shelf {
  position: absolute;
  width: 490px;
  height: 300px;
  margin-top: 480px;
  margin-left: 300px;
  z-index: 8;
}

#fouroeight {
  position: absolute;
  width: 350px;
  height: 250px;
  margin-top: 300px;
  margin-left: 600px;
  z-index: 9;
}

#miles {
  position: absolute;
  width: 225px;
  height: 300px;
  margin-top: 500px;
  margin-left: 1000px;
  z-index: 10;
}

#steps {
  position: absolute;
  width: 450px;
  height: 300px;
  margin-top: 100px;
  margin-left: 1100px;
  z-index: 11;
}

#waterfall {
  position: absolute;
  width: 250px;
  height: 350px;
  margin-top: 10px;
  margin-left: 300px;
  z-index: 12;
}

.backbutton {
  position: absolute;
top: 0;
left: 0;
width: 180px;
height: 250px;
margin-top: 300px;
margin-left: 760px;
mix-blend-mode: color-burn;
z-index: 100;
}

.backbutton {
    transition: mix-blend-mode 0.3s normal;
}

.backbutton:hover {
    mix-blend-mode: multiply;
}

.drag {
  cursor: url(img/handsclosedcursor.png), auto;
}

html {
  cursor: url(img/handsopencursor.png), auto;
}

a {
  cursor: url(img/handsclosedcursor.png), auto;
}