body {
    background-image: url(img/window.png);
    background-repeat: none;
    width: 100vw;
    height: 100vh;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 9%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: url(img/cursor2.png), auto;
  mix-blend-mode: darken;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.tippy-image {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 120px;
    mix-blend-mode: color-burn;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  left: 500px;
  display: none;
}

/* Expanding image text */
#imgtext {
   position: absolute;
  bottom: 15px;
  left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: rgb(245, 150, 66);
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.backbutton {
    transition: mix-blend-mode 0.3s normal;
}

.backbutton:hover {
    mix-blend-mode: multiply;
}

.backbutton {
position: absolute;
top: 0;
left: 0;
width: 180px;
height: 250px;
margin-top: 300px;
margin-left: 760px;
mix-blend-mode: color-burn;
z-index: 100;
}

html {
    cursor: url(img/cursor1.png), auto;
}

a, .column, .row {
    cursor: url(img/cursor2.png), auto;
}